{% extends 'admin/base.html' %}
{% load static %}

{% block userlinks %}
<a href="/streams/update-token/" target="_blank">UPDATE TOKEN</a>
{{ block.super }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
  :root {
    --primary: #0F4C75;
    --secondary: #17181D;
    --link-fg:#78adcf;
    --link-selected-fg: #F3EFE0;
    --accent: #F3EFE0;
    --selected-row: #0F4C7560;
  }

  /* Disable outline */
  *:focus {
    outline: none;
    border: 2px solid var(--primary) !important;
  }

  #user-tools a[href="/"] {
    display: none;
  }
</style>
{% endblock %}

{% block extrahead %}
<!-- Add favicon -->
{{ block.super }}
<link rel="shortcut icon" href="{% static 'core/favicon.ico' %}">
{% endblock %}

{% block content %}
{% endblock %}

